@import url('https://fonts.googleapis.com/css?family=Allerta Stencil:100,200,300,400,500,600,700');

.nav-button {
    color: #377A59;
}

.btn_small {
    height: 24px;
    width: 60px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}

.word_header {
    margin-top: 5px;
    color: blue;
}

nav .brand-logo {
    font-family: 'Allerta Stencil', cursive;
    font-size: 50px;
    font-weight: bolder;
    color: #377A59;
    transform: rotate(-10deg);
    margin-top: 20px;
    margin-left: 20px;
}

nav .brand-logo1 {
    font-size: 30px;
    font-weight: bolder;
    color: #377A59;   
    margin-left: 120px;
}

nav {
  background-color: #B1DAEC;
}

.page-footer {
  background-color: #B1DAEC;    
}

/* push footer to bottom of page */
 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

/* push footer to bottom of page */
  main {
    flex: 1 0 auto;
  }

.letters {
    font-weight: bolder;
    font-family: 'Allerta Stencil', cursive;
    font-size: 25px;
}   

.card {
    background-color: #A7D8EC;

}

.card-stacked {
    background-color: #012F4D;
}

.card-panel {
    background-color: #A7D8EC;          
}        

.word_header {
    font-weight: 970px;
}

.flash {
    padding: 20px; 
    background-color: #d3a9a6; 
    color: white; 
    margin-bottom: 15px;
    font-size: 35px;
}
