.btn_small {
    height: 24px;
    width: 60px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}

.word_header {
    margin-top: 5px;
    color: blue;
}

nav {
  background-color: #2196F3;
}

nav .brand-logo {
    font-size: 30px;
    font-weight: bolder;
    color: purple;
}

#nav-search .col .s4 .center {
    float: none;
    
}

nav #nav-wrapper {
    color: blue;
}