@import url('https://fonts.googleapis.com/css?family=Allerta Stencil:100,200,300,400,500,600,700');

/* -------------------- HEADER ------------------------ */

.nav-button {
    color: #607D8B;
}

a:hover {
    background-color: #9FE3FA;
    animation: pulse 1s infinite;
    animation-timing-function: linear;   
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

.side-nav {    
    font-weight: bolder;
    background-color: #9FC4D4;
}

::placeholder {    
    color: #607D8B;
    font-weight: bolder;    
}

.btn_small {
    height: 24px;
    width: 70px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
    color: #607D8B;
    background-color:#B1DAEC; 
}

.btn_large {
    background-color:#2BBBAD;
}

.word_header {
    margin-top: 5px;
    color: #607D8B;
}

nav .brand-logo {
    font-family: 'Allerta Stencil', cursive;
    font-size: 50px;
    font-weight: bolder;
    color: #012F4D;
    transform: rotate(-10deg);
    margin-top: 20px;
    margin-left: 20px;
}

nav .brand-logo1 {
    font-size: 30px;
    font-weight: bolder;
    color: #012F4D;   
    margin-left: 120px;
}

nav {
  background-color: #B1DAEC;
}

/* -------------------- FOOTER ------------------------ */
.page-footer {
  background-color: #B1DAEC;    
}

/* push footer to bottom of page */
 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

/* push footer to bottom of page */
  main {
    flex: 1 0 auto;
  }

.letters {
    font-weight: bolder;
    font-family: 'Allerta Stencil', cursive;
    font-size: 25px;
}  

/* -------------------- MAIN ------------------------ */

.card {
    background-color: #A7D8EC;
}

/* h3 is to style Card Title and page headers */
h3 {
    font-family: 'Allerta Stencil', cursive;
    font-weight: bolder;
    font-size: 25px;
}

/* h4 is to style word headings */
h4 {
    font-weight: bolder;
    padding-left: 40px;
}

/* h5 is to style Headings in Footer */
h5 {
    font-family: 'Allerta Stencil', cursive;
    font-weight: bolder;
    font-size: 25px;
    color: #012F4D;
}

.card-stacked {
    background-color: #012F4D;
}

.card-panel {
    background-color: #A7D8EC;  
    padding: 0px;        
} 

.card.horizontal .card-stacked .card-content {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Flash error message for duplicate entires to database */
.flash {
    padding: 20px; 
    background-color: #d3a9a6; 
    color: white; 
    margin-bottom: 15px;
    font-size: 35px;
}