<!DOCTYPE html>
<html lang="en">
<title>Oceanographic Dictionary</title>
<html>

<head>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
</head>

<body>
	<header>
		<nav class="nav-extended">
			<div class="nav-wrapper">
				<div class="row">
					<div>
						<a href="{{url_for('show_words')}}" class="brand-logo left">Oceanographic</a>
						<a href="#" data-activates="mobile-demo"
							class="button-collapse"><i class="material-icons">menu</i></a>
					</div>
					<div>
						<ul id="nav-mobile" class="right hide-on-med-and-down">
							<li><a href="{{url_for('show_words')}}">Home</a></li>
							<li><a href="{{url_for('get_words')}}">Browse Words</a></li>
							<li><a href="{{url_for('add_word')}}">New Word</a></li>
							<li><a href="{{url_for('get_categories')}}">Manage Categories</a></li>
						</ul>
					</div>

					<div>
						<ul class="side-nav" id="mobile-demo">
							<li><a href="{{url_for('show_words')}}">Home</a></li>
							<li><a href="{{url_for('get_words')}}">Browse Words</a></li>
							<li><a href="{{url_for('add_word')}}">New Word</a></li>
							<li><a href="{{url_for('get_categories')}}">Manage Categories</a></li>
						</ul>
					</div>
				</div>
				<div class="row">

					<a href="{{url_for('show_words')}}" class="brand-logo1 left">Dictionary</a>
					<div>
						<div id="nav-mobile" class="left hide-on-med-and-down">
							<form action="{{ url_for('add_word') }}" class="col s4 active">
								<button class="btn-floating btn-large halfway-fab left waves-effect waves-light green" type="submit" name="action">
                                <i class="material-icons">playlist_add</i>
                                </button>
							</form>
						</div>
					</div>
					<form action="{{ url_for('get_search') }}">
						<div id="nav-search" class="col offset-s3 center active">
							<input type="text" id="q" name="q" placeholder="Type Word">
						</div>
							<button class="btn-floating btn-large waves-effect waves-light green" type="submit"><i class="material-icons">search</i></button>
					</form>
				</div>
			</div>
		</nav>
	</header>

	<main>
		<div class="container">	
            <div class="col l1 s1 center">		
					{% with messages = get_flashed_messages() %}
                    {% if messages %}
					{% for message in messages %}
					<div class="flash">
                    {{message}}
                    </div>
					{% endfor %}
					{% endif %}
					{% endwith %}
				</div>			
		</div>

		<div class="container">
			<div class="row">
				<div class="letters col l1 s1 center">
					<a href="{{url_for('get_letters', letter='^A')}}">Aa</a>
				</div>
				<div class="letters col l1 s1 center">
					<a href="{{url_for('get_letters', letter='^B')}}">Bb</a>
				</div>
				<div class="letters col l1 s1 center">
					<a href="{{url_for('get_letters', letter='^C')}}">Cc</a>
				</div>
				<div class="letters col l1 s1 center">
					<a href="{{url_for('get_letters', letter='^D')}}">Dd</a>
				</div>
				<div class="letters col l1 l1 center">
					<a href="{{url_for('get_letters', letter='^E')}}">Ee</a>
				</div>
				<div class="letters col l1 s1 center">
					<a href="{{url_for('get_letters', letter='^F')}}">Ff</a>
				</div>
				<div class="letters col l1 s1 center">
					<a href="{{url_for('get_letters', letter='^G')}}">Gg</a>
				</div>
				<div class="letters col l1 s1 center">
					<a href="{{url_for('get_letters', letter='^H')}}">Hh</a>
				</div>
				<div class="letters col l1 s1 center">
					<a href="{{url_for('get_letters', letter='^I')}}">Ii</a>
				</div>
				<div class="letters col l1 s1 center">
					<a href="{{url_for('get_letters', letter='^J')}}">Jj</a>
				</div>
				<div class="letters col l1 s1 center">
					<a href="{{url_for('get_letters', letter='^K')}}">Kk</a>
				</div>
				<div class="letters col l1 s1 center">
					<a href="{{url_for('get_letters', letter='^L')}}">Ll</a>
				</div>
				<div class="letters col l1 s1 center">
					<a href="{{url_for('get_letters', letter='^M')}}">Mm</a>
				</div>
				<div class="letters col l1 s1 center">
					<a href="{{url_for('get_letters', letter='^N')}}">Nn</a>
				</div>
				<div class="letters col l1 s1 center">
					<a href="{{url_for('get_letters', letter='^O')}}">Oo</a>
				</div>
				<div class="letters col l1 s1 center">
					<a href="{{url_for('get_letters', letter='^P')}}">Pp</a>
				</div>
				<div class="letters col l1 s1 center">
					<a href="{{url_for('get_letters', letter='^Q')}}">Qu</a>
				</div>
				<div class="letters col l1 s1 center">
					<a href="{{url_for('get_letters', letter='^R')}}">Rr</a>
				</div>
				<div class="letters col l1 s1 center">
					<a href="{{url_for('get_letters', letter='^S')}}">Ss</a>
				</div>
				<div class="letters col l1 s1 center">
					<a href="{{url_for('get_letters', letter='^T')}}">Tt</a>
				</div>
				<div class="letters col l1 s1 center">
					<a href="{{url_for('get_letters', letter='^U')}}">Uu</a>
				</div>
				<div class="letters col l1 s1 center">
					<a href="{{url_for('get_letters', letter='^V')}}">Vv</a>
				</div>
				<div class="letters col l1 s1 center">
					<a href="{{url_for('get_letters', letter='^W')}}">Ww</a>
				</div>
				<div class="letters col l1 s1 center">
					<a href="{{url_for('get_letters', letter='^X')}}">Xx</a>
				</div>
				<div class="letters col l1 s1 center">
					<a href="{{url_for('get_letters', letter='^Y')}}">Yy</a>
				</div>
				<div class="letters col l1 s1 center">
					<a href="{{url_for('get_letters', letter='^Z')}}">Zz</a>
				</div>
			</div>
		</div>
		{% block content %} {% endblock %}


		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
		<script type="text/javascript">
			$(document).ready(function() {
            $('.collapsible').collapsible();
            $('select').material_select();
            $(".button-collapse").sideNav();
        });
		</script>

	</main>
	<footer class="page-footer">

		<div class="row">
			<div class="col l6 s12">
				<h5 class="white-text">Footer Content</h5>
				<p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.
				</p>
			</div>
			<div class="col l4 offset-l2 s12">
				<h5 class="white-text">Links</h5>
				<ul>
					<li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
					<li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
					<li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
					<li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
				</ul>
			</div>
		</div>

		<div class="footer-copyright">
			<div class="container">
				© 2014 Copyright Text
				<a class="grey-text text-lighten-4 right" href="#!">More Links</a>
			</div>
		</div>
	</footer>
</body>

</html>