{% extends 'base.html' %}

{% block content %}
<div class="wrapper">
	<section class="section">
		<div class="container">
			<div class="row">
				<div class="letters col l1 s1 center">
					<a href="{{url_for('get_letters', letter='a' )}}">Aa</a>                    
				</div>
				<div class="letters col l1 s1 center">
					<a href="{{url_for('get_words')}}">Bb</a>
				</div>
				<div class="letters col l1 s1 center">
					<a href="{{url_for('get_words')}}">Cc</a>
				</div>
				<div class="letters col l1 s1 center">
					<a href="{{url_for('get_words')}}">Dd</a>
				</div>
				<div class="letters col l1 l1 center">
					<a href="{{url_for('get_words')}}">Ee</a>
				</div>
				<div class="letters col l1 s1 center">
					<a href="{{url_for('get_words')}}">Ff</a>
				</div>
				<div class="letters col l1 s1 center">
					<a href="{{url_for('get_words')}}">Gg</a>
				</div>
				<div class="letters col l1 s1 center">
					<a href="{{url_for('get_words')}}">Hh</a>
				</div>
				<div class="letters col l1 s1 center">
					<a href="{{url_for('get_words')}}">Ii</a>
				</div>
				<div class="letters col l1 s1 center">
					<a href="{{url_for('get_words')}}">Jj</a>
				</div>
				<div class="letters col l1 s1 center">
					<a href="{{url_for('get_words')}}">Kk</a>
				</div>
				<div class="letters col l1 s1 center">
					<a href="{{url_for('get_words')}}">Ll</a>
				</div>
				<div class="letters col l1 s1 center">
					<a href="{{url_for('get_words')}}">Mm</a>
				</div>
				<div class="letters col l1 s1 center">
					<a href="{{url_for('get_words')}}">Nn</a>
				</div>
				<div class="letters col l1 s1 center">
					<a href="{{url_for('get_words')}}">Oo</a>
				</div>
				<div class="letters col l1 s1 center">
					<a href="{{url_for('get_words')}}">Pp</a>
				</div>
				<div class="letters col l1 s1 center">
					<a href="{{url_for('get_words')}}">Qu</a>
				</div>
				<div class="letters col l1 s1 center">
					<a href="{{url_for('get_words')}}">Rr</a>
				</div>
				<div class="letters col l1 s1 center">
					<a href="{{url_for('get_words')}}">Ss</a>
				</div>
				<div class="letters col l1 s1 center">
					<a href="{{url_for('get_words')}}">Tt</a>
				</div>
				<div class="letters col l1 s1 center">
					<a href="{{url_for('get_words')}}">Uu</a>
				</div>
				<div class="letters col l1 s1 center">
					<a href="{{url_for('get_words')}}">Vv</a>
				</div>
				<div class="letters col l1 s1 center">
					<a href="{{url_for('get_words')}}">Ww</a>
				</div>
				<div class="letters col l1 s1 center">
					<a href="{{url_for('get_words')}}">Xx</a>
				</div>
				<div class="letters col l1 s1 center">
					<a href="{{url_for('get_words')}}">Yy</a>
				</div>
				<div class="letters col l1 s1 center">
					<a href="{{url_for('get_words')}}">Zz</a>
				</div>
			</div>
		</div>

		<div class="row">
			<div id="wave-pic" class="col l4 s12 left">
				<img class="responsive-img" src="static/images/wave.jpg">

	        </div>

				<div id="first-paragraph">
					<div class="col l4 s12 center">
						<p class="section-paragraph"><br>The White Shark, more commonly referred to as the "Great White," has been reported to be involved in more attacks on humans than any other shark. It's thought that they attack humans when they mistake diver and surfer silhouettes
                            in the water during approaching from below the surface of the water. An alternative theory has also been suggested that Great Whites attack unfamiliar objects to test their potential as food. If true, that would help explain
                            their involvement over the years in myriad hit-and-run attacks near beaches.
							<br><b>CREDIT:<i> CBS Interactive Inc.(2019)</i></b>
						</p>
					</div>
				</div>
				<div class="card col l4 s12 right">
					<h3 class="header">Horizontal Card</h3>
					<div class="card horizontal">
						<div class="card-image">
							<!-- <img src="https://lorempixel.com/100/190/nature/6"> -->
      </div>
							<div class="card-stacked">
								<div class="card-content">
									<p>The user is able to insert and define words, as well as browse, search, edit and
										delete words. Also, categories can be addded, managed and edited.</p>
								</div>
								<div class="card-action">
									<a href="{{url_for('get_words')}}">Browse Words</a>
									<a href="{{url_for('add_word')}}">New Word</a>
									<a href="{{url_for('get_categories')}}">Categories</a>
								</div>
							</div>
						</div>
					</div>

				</div>


			</div>
	</section>
</div>


{% endblock %}