{% extends 'base.html' %}

{% block content %}
<div class="wrapper">
	<section class="section">
		<div class="row">
			<div id="wave-pic" class="col l4 s12 left">
				<img class="responsive-img" src="static/images/wave.jpg">

	        </div>

				<div id="first-paragraph">
					<div class="col l4 s12 center">
						<p class="section-paragraph"> The sea is a wondrous and magical place. It is world of light and 
                        shadow, full of amazing creatures that stimulate the imagination. Here, beneath the waves, 
                        can be found both the beautiful and the bizarre. The coral reef is one of the Earth’s most diverse 
                        environments. Thousands of unique species inhabit an ecosystem that has been called the rainforest of 
                        the sea. Further down in the depths lies an eerie world of cold darkness. In an environment with 
                        extremes of both temperature and pressure, life actually flourishes. But here, evolution has taken a 
                        bizarre turn. Grotesque alien creatures patrol the darkness, illuminating the way with artificial 
                        lights produced within their bodies. Welcome to the mysteries of the Ocean Realm.
							<b>CREDIT:<i> Sea and Sky (1998 - 2016)</i></b>
						</p>
					</div>
				</div>
				<div class="card col l4 s12 center">
					<h3 class="header">A DICTIONARY FOR THE OCEAN</h3>
					<div class="card horizontal">


						<div class="card-stacked">
							<div class="card-panel">
								<div class="card-content">

									<p>This is your opportunity to insert and define words, as well as browse, search, edit and
										delete words. Also, categories can be added, managed and edited.</p>


									<div class="card-action">
                                        
										<a class = "blue-grey-text" href="{{url_for('get_words')}}">Words</a>
										<a class = "blue-grey-text" href="{{url_for('add_word')}}">New Word</a>
										<a class = "blue-grey-text" href="{{url_for('get_categories')}}">Categories</a>
                                    
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
        </div>





	</section>
</div>


{% endblock %}